snippet define
define(['jquery', $1], function ($, $2) {
	
});
endsnippet 

snippet bb:view
var $1 = Backbone.View.extend({
	render: function () {
		$2
		return this;
	}
});
endsnippet 

snippet l
console.log($1);
endsnippet

snippet vr
var $1 = require($2);
endsnippet

snippet r
require($1);
endsnippet
